/* ============================================
                RESOURCES
============================================ */

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;500&display=swap');

/* 
font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* Colors */

/* 
NavbarBackground: #1A2634
SearchInputBackground: #24323F
Accents, SearchIcon, Rating: #21E18C
MainBackground: rgb(39, 50,62)
*/

/* ============================================
                GENERAL
============================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: #fff;
  font-weight: 400;
}

h2 {
  font-family: 'Anton', sans-serif;
  color: #fff;
}

h3 {
  font-family: 'Anton', sans-serif;
  color: #fff;
  font-weight: 300;
}

h3 {
  font-family: "Anton", sans-serif;
  color: #fff;
  font-weight: 300;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  font-size: 1.6rem;
}

/* ============================================
                HEADER
============================================ */

.navigation {
  display: flex;
  align-items: center;
  background: #1A2634;
  height: 20vh;
  padding: 4%;
}

.headerLink {
  text-decoration: none;
  font-size: 2.5rem;
}

.navigation h1 span {
  color: #21E18C;
}

.navigation div {
  margin: 0 25%;
}

.navigation div input {
  background: #24323F;
  border: none;
  padding: 20px 100px;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

.navigation div input[type="text"] {
  font-size: 2rem;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.navigation div input[type="text"] {
  font-size: 2rem;
  color: white;
  font-family: "Roboto", sans-serif;
}

.navigation div input::placeholder {
  font-size: 2rem;
}

.searchbar {
  position: relative;
}

.glass {
  font-size: 3rem;
  color: #21e18c;
  position: absolute;
  left: 15px;
  top: 25%;
}

/* ============================================
                    MAIN
============================================ */

.main {
  background: rgb(39, 50, 62);
  /* padding: 4%; */
}

.main h1 {
  font-size: 3.5rem;
  margin: 5vh 0 4vh 4%;
  padding-top: 5vh;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 4%;
}

/* ============================================
                MAIN/MovieCard
============================================ */
.moviecard {
  width: 90%;
}

.moviecard img {
  width: 100%;
}

.moviecard h2 {
  font-size: 2rem;
  font-weight: 300;
}

/* ============================================
                    Footer
============================================ */

.footer {
  padding: 3% 6%;
  display: flex;
  align-items: center;
  background: #1A2634;
  height: 20vh;
}

.footer h1 {
  font-size: 5rem;
  margin-right: 10vw;
}

.footer p {
  margin-right: 15vw;
  font-size: 2rem;
  font-weight: 300;
}

.footer h1 span {
  color: #21E18C;
}

.footer div a:last-of-type {
  color: rgb(39, 50, 62);
}

.insta {
  font-size: 6rem;
  color: #21E18C;
  margin-right: 30px;
}


.fbook {
  font-size: 5rem;
  border: 1px 1px 0 1px solid #21E18C;
  background-color: #21E18C;
  border-radius: 5px;
  padding: 5px 10px 0 10px;
}


/* ============================================
                DetailSite
============================================ */

.detailSite {
  background: rgb(39, 50, 62);
  padding: 4%;
  color: white;
}

.detailSite h2 {
  font-size: 4rem;
  margin-bottom: 5vh;
}

.detailImg img {
  margin-right: 5vw;
}

.grid-movielist {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  /* grid-template-rows: repeat(5, 1fr); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* height: 70vh; */
  align-items: baseline;
}

.grid-movielist div {
  margin-bottom: 10px;
}

.releaseDate {
  grid-area: 1 / 1 / 2 / 2;
}

.releaseDateDetails {
  grid-area: 1 / 2 / 2 / 3;
}

.genre {
  grid-area: 2 / 1 / 3 / 2;
}

.genreDetails {
  grid-area: 2 / 2 / 3 / 3;
}

.originalTitle {
  grid-area: 3 / 1 / 4 / 2;
}

.originalTitleDetails {
  grid-area: 3 / 2 / 4 / 3;
}

.overView {
  grid-area: 4 / 1 / 5 / 2;
}

.overViewDetails {
  grid-area: 4 / 2 / 5 / 3;
}

.rating {
  grid-area: 5 / 1 / 6 / 2;
}

.ratingDetails {
  grid-area: 5 / 2 / 6 / 3;
}

.detailWrapper {
  display: flex;
}

.detailImg {
  margin-right: 5vw;
}

.description h3 {
  font-size: 2.5rem;
}

.description p {
  font-size: 1.6rem;
  display: inline;
}

.link {
  color: white;
  font-size: 2rem;
}

.linkContainer {
  text-align: center;
  margin-top: 30px;
}

.detailSite .link:hover {
  color: #21E18C;
}

.gridPhone {
  display: none;
}

/* ============================================
                BurgerMenu
============================================ */

#page-wrap {
  background: #1a2634;
}

/* ============================================
                Media Queries
============================================ */

@media only screen and (max-width: 390px) and (max-height: 844px) {
  /* ============================================
                HEADER
    ============================================ */

  .navigation {
    display: block;
  }

  .headerLink {
    text-align: center;
  }

  .searchbar {
    position: relative;
    right: 70px;
  }

  .navigation div input {
    background: #24323f;
    border: none;
    padding: 10px 60px;
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
  }

  .glass {
    font-size: 2rem;
    color: #21e18c;
    position: absolute;
    left: 15px;
    top: 52%;
  }

  /* ============================================
                    Main
    ============================================ */

  #outer-container,
  #page-wrap {
    overflow: hidden;
  }

  .main {
    text-align: center;
  }

  .movie-list {
    display: block;
  }

  .moviecard {
    width: 100%;
  }

  .moviecard h2 {
    font-size: 3.5rem;
  }

  .moviecard p {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  /* ============================================
                    Footer
    ============================================ */

  .footer {
    display: block;
    text-align: center;
    height: 100%;
  }

  .footer h1 {
    margin: 0;
  }

  .footer p {
    margin: 0;
  }

  .insta {
    margin: 10px 15px 0 0;
  }

  /* ============================================
                DetailSite
    ============================================ */

  .detailSite {
    padding: 4%;
    text-align: center;
    overflow: hidden;
  }

  .detailSite h2 {
    font-size: 3.5rem;
    margin-bottom: 2vh;
  }

  .detailWrapper {
    display: none;
  }

  .gridPhone {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .gridPhone img {
    width: 100%;
  }

  .gridPhone h3 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
}